.App {
  text-align: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  margin: 0;
  overflow: hidden;
}

.App-header {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  font-size: calc(12px + 1.5vmin);
}

input {
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 300px;
  max-width: 90%;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #ff4081;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: scale(1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 18px;
  margin-top: 20px;
  color: #ffe4e1;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
